<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button
                    [disabled]="!recipeEditForm.valid" 
                    class="btn btn-success"
                    type="submit"
                    >Save </button>
                    <button 
                    class="btn btn-danger"
                    type="button"
                    style="margin-left: 10px;"
                    (click)="onCancelEditing()"
                    >Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                         type="text"
                         class="form-control"
                         id="name"
                         formControlName="name"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input
                         type="text"
                         class="form-control"
                         id="imagePath"
                         formControlName="imagePath"
                         #imagePath
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <img [src]="imagePath.value" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                         type="text"
                         class="form-control"
                         id="description"
                         rows="6"
                         formControlName="description"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" 
                    *ngFor="let ingredientElement of controls; let i=index"
                    [formGroupName]="i"
                    style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input
                            type="text"
                            class="form-control" 
                            formControlName="name"
                            >
                        </div>
                        <div class="col-xs-2">
                            <input
                            type="number"
                            class="form-control" 
                            formControlName="amount"
                            >
                        </div>
                        <div class="col-xs-2">
                            <button
                            type="button"
                            (click)="onDeleteIngredient(i)"
                            class="btn btn-danger"
                            >X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <button
                    type="button" 
                    class="btn btn-primary"
                    (click)="onAddIngredients()">Add Ingredients</button>
                </div>
            </div>
        </form>
    </div>
</div>